.hero {
    min-height: 80vh;
    width: 100vw;
    padding-top: 30rem;
}

.hero-grid {
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
}

.hero-right {
    display: grid;
    justify-self: end;
    width: 40vw;
}

.header-shape {
    width: 100%;
    height: auto;
    display: block;
}