@use '../utils/variables' as var;

.hero {
    min-height: 80vh;
    width: 100vw;
    padding-top: 20vh;
}

.hero-grid {
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
}

.hero-right {
    position: relative;
    display: grid;
    justify-self: end;
    width: 40vw;
}

.header-shape {
    width: 100%;
    height: auto;
    display: block;
}

#echo-CTA {
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.alpha-container {
    position: absolute;
    top: 32%;
    left: -5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 0.8rem;
}

.alpha {
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    color: var.$colour-white;
    letter-spacing: -1.92px;
    -webkit-user-select: none;  /* Safari */
    -ms-user-select: none;      /* IE 10 and IE 11 */
    user-select: none;          /* Standard syntax */
}

.alpha-p {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 300;
    width: 70%;
    font-family: var.$font-secondary;
    color: var.$colour-white;
    -webkit-user-select: none;  /* Safari */
    -ms-user-select: none;      /* IE 10 and IE 11 */
    user-select: none;          /* Standard syntax */
}
.CTA-container {
    position: absolute;
    top: 70%;
    right: 47%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.echo-heading {
    text-align: center;
    font-size: 3.6rem;
    font-weight: 400;
    color: var.$colour-white;
    letter-spacing: -1.92px;
    -webkit-user-select: none;  /* Safari */
    -ms-user-select: none;      /* IE 10 and IE 11 */
    user-select: none;          /* Standard syntax */
}
