@media (max-width: 900px) {
    .loading-bar-container { 
        width: 400px;
    }

}

@media (max-width: 600px) {
    .loading-bar-container { 
        width: 300px;
    }
    
}

@media (max-width: 400px) {
    .loading-bar-container { 
        width: 200px;
    }
    
}