*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  overflow-x: hidden;
}



@media (max-width: 900px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 500px) {
  html { font-size: 40%; }
}

@media (max-width: 400px) {
  html { font-size: 35%; }
}